/* if the page is a large size */

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 20px;
  font-size: 2vw;
}

li {
  display: inline-block;
  list-style-type: none;
  padding-right: 1%;
  padding-left: 1%;
  vertical-align: middle;
  width: 30%;
}
