/* small size page such as phones */

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 12px;
}

li {
  list-style-type: none;
  vertical-align: middle;
  padding-bottom: 5%;
  width: 100%;
}
