h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 12px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header__title {
  display: inline-block;
  float: right;
  text-align: right;
}

hr {
    border: none;
    height: 5px;
    /* Set the hr color */
    color: #7d97ad; /* old IE */
    background-color: #7d97ad; /* Modern Browsers */
    margin-bottom: 25px;
}


.main_pic {
  width: 100%;
}

#menu {
  text-align: center;
}

ul {
    margin: 0;
    padding: 0;

}

li {
  list-style-type: none;
  vertical-align: middle;
  padding-bottom: 5%;
  width: 100%;
}

.project_image {
  width: 100%;
}
